 <div [routerLink]="['/events', eventt.id]" class="well hoverwell thumbnail">
   <h1>{{eventt?.name | uppercase}}</h1>
   <div>Date: {{eventt?.date  | date:'shortDate'}}</div>

   <div [ngSwitch]="eventt?.time">
     Time: {{eventt?.time}}
     <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
     <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
     <span *ngSwitchDefault>(Normal Start)</span>
   </div>

   <div>Price: {{eventt?.price | currency:'USD'}}</div>
   <div *ngIf="eventt?.location">
     <span>location:{{eventt?.location?.address}}</span>
     <span class="pad-left">{{eventt?.location?.city}}, {{eventt?.location?.country}}</span>
   </div>
   <!-- <div *ngIf="eventt?.onlineUrl"> -->
   <div [hidden]="!eventt?.onlineUrl">
     <!--use hidden instead  *ngIf -->
     Online URL: {{eventt.onlineUrl}}
   </div>
   <button clas="btn btn-primary" (click)="handleClickMe()">Click Me</button>
 </div>
